.c-banner {
  height: calc(100vh - 137px);
  width: 100%;
  background-size: cover;
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-position: center;
}

.c-banner__heading {
  font-size: 1.7em;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 4rem;
}

.c-banner__sub-heading {
  font-size: 1em;
  text-align: center;
  max-width: 456px;
}

.c-richtext {
  margin-top: 40px;
}

.c-simple-text {
  margin-top: 40px;
}

.c-simple-text__paragraph {
  font-size: 1em;
  color: #333333;
}

body {
  margin-bottom: 40px;
}

.c-two-col {
  height: 415px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-two-col__heading {
  font-size: 2.8rem;
}

.c-two-col__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-image {
  height: 37px;
  margin-top: -7px;
}

.c-image__wrapper {
  display: flex; 
  justify-content: center;
  align-items: center;
  padding: 15px 0px 19px;
}

.c-two-col__background-image {
  height: 415px;
  background-image: url(https://i1.adis.ws/i/twe/Bottle_rose);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1, h2, h3 {
  font-family: "Playfair Display", serif;
}

h3 {
  font-size: 1.4rem;
}
